.vscode/
videoconvertU4ewLfb.mp4
ExquisiteSmoothPorcupineCurseLit-va5UBQYvWaE4sw8F.mp4
reduced.mp4
zero_ru_cont_8k_v3.tar.gz
Amanda/
Videos/
vosk-model-ru-0.10/
vosk-model-ru-0.42/
vosk-model-small-ru-0.4/
vosk-model-small-ru-0.22/